# Source https://help.github.com/articles/dealing-with-line-endings
# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized. These are checked out with LF
# to match end_of_line = lf in .editorconfig, which CSharpier reads for .cs and .csproj.
*.cs text diff=csharp eol=lf

*.sln text eol=lf
*.csproj text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.dll binary
*.gif binary
*.ico binary
*.xlsx binary
